*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background: #D8DBE2;
    width: 100%;
    height: 100vh;
  }

.navbar{
    display: flex;
    align-items: center;
    padding-top: 2rem;
    width: 90%;
    height: auto;
    margin: auto;
}
.navbar .menu{
    margin-right: auto;
}
.navbar .lang{
    margin-right: 3rem;
}

.logo{
    width : 72px;
    height : 72px;
}

.container{
    width: 90%; 
    margin: auto;
}
.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 90vh;
}
.title{
    flex-grow: 2;
    flex-shrink: 1;
    font-size: 72px;
    align-content: center;
}
.home-image{
    flex-grow: 6;
    max-width: 100%;
    width: 800px;
    height: 800px;
    object-fit: contain;
}
.h2{
    font-size: 60px;
}

.card-carousel {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    flex: 1 0 30%; /* explanation below */
    margin: 24px;
    height: auto;
    background-color: #D8DBE2;
    border: solid 2px red;
    border-color: red;
}

.card-header{
    position: relative;
}

.homecard-image{
    width: 100%;
}
.card-title {
    position: absolute;
    bottom: 24px;
    left : 36px;
    color: white;
    font-size: 32px;
}

.card.card-header p{
    position: absolute;
    bottom: 24px;
    left : 36px;
    color: red;
    font-size: 32px;
}

.card-body{
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-bottom: 2rem;
}
